div {
  display: flex;
  flex-direction: row-reverse;

  /* Reverse
  flex-direction: row-reverse; */
  
  
  height: 200px;
  width: 500px;
  border: solid #698733 0.5em;
  border-radius: 1em;
  align-items: center;
  justify-content: space-evenly;
}

div img {
  height: 30%;
}